$name-color: #24c18b;
$background-color: #212330;
$background-hightlight-color: #2a2c3a;
$light-background-text-color: #a2a0a1;
$faint-background-text-color: #63667b;

$blue-color: #3f8efc;
$orange-color: #fb5607;
$green-color: #059c75;
